<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1.0">
        <title>Shop Owner Registration</title>
        <link rel="icon" href="../logo.png">
        <link rel="stylesheet" href="../styles/shopOwners.css">
        <link rel="stylesheet" href="../styles/index.css">
        <script src="../scripts/shopOwners.js"></script>
        <script src="../scripts/index.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>

    <body>
        <header class="header" id="headerid">
            <img src="../logo.png" alt="logoimg" class="logoimg">
            <nav class="navbar">
                <div class="menu-icon" id="menu-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="nav-links" id="nav-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#notifications">Notifications</a></li>
                    <li><a href="#orderManagement">Order Management</a></li>
                    <!-- this menu management has an option to look at the menu, edit the menu, add a new kota to the menu -->
                    <li><a href="#menuManagement">Menu Management</a></li>
                    <li><a href="#reports">Reports</a></li>
                    <li><a href="#settings">Settings</a></li>
                    <li><a href="../index.html">Signout</a></li>
                </ul>
            </nav>
        </header>
    
        <main class="mainClass">
            <section id="home" class="homeClass" style="display:none;">
                <h2 style="border-bottom: rgb(255, 206, 101) solid 2px; ">HOME</h2>
                <h3>Daily Summary</h3>
                <div>
                    <h3>Total Orders Today</h3>
                </div>

                <div>
                    <h3>Orders Completed</h3>
                </div>

            </section>

            <section id="ownerRegistration" class="sectionclass">
                <form id="ownerForm" action="submitForm" class="formclass" autocomplete="on" method="POST">
                        <h2 style="border-bottom: rgb(255, 206, 101) solid 2px; ">SHOP OWNER REGISTRATION</h2>
                        <label for="ownerName">Enter Name: </label><br>
                        <input type="text" id="ownerName" name="ownerName" required><br><br>

                        <label for="ownerContact">Enter Contact: </label><br>
                        <input type="number" id="ownerContact" name="ownerContact" required><br><br>

                        <label for="ownerEmail">Enter Email: </label><br>
                        <input type="email" id="ownerEmail" name="ownerEmail" required><br><br>

                        <label for="ownerEmail">Confirm Email: </label><br>
                        <input type="email" id="ownerEmail" name="onwerEmail" required><br><br>

                        <label for="ownerPassword">Enter Password: </label><br>
                        <input type="password" id="ownerPassword" name="ownerPassword" required><br><br>

                        <label for="confirmOwnerPassword">Confirm Password: </label><br>
                        <input type="password" id="confirmOwnerPassword" name="confirmOwnerPassword" required><br><br>

                        <button type="submit" id="submitBtn" class="buttonclass">Submit</button>

                        <button type="button" class="buttonclass" onclick="signinpage()">Already have an account?</button>
                </form>
            </section>
    
            <section id="ownerLogin" class="sectionclass" style="display:none;">
                <form class="formclass">
                        <h2 style="border-bottom: rgb(255, 206, 101) solid 2px; ">SHOP OWNER LOGIN</h2>
                        <label for="ownerEmail">Email: </label><br>
                        <input type="email" id="ownerEmail" name="ownerEmail" required><br><br>

                        <label for="ownerPassword">Password: </label><br>
                        <input type="password" id="ownerPassword" name="ownerPassword"><br><br>
                        
                        <button type="submit" id="submitBtn" class="buttonclass" onclick="ownerlogin()">Submit</button>
                </form>
            </section>

            <section id="shopRegistration" class="sectionclass" style="display:none;">
                <form id="shopOwnerForm" class="formclass" action="submitForm" autocomplete="on" method="POST">
                        <h2 style="border-bottom: rgb(255, 206, 101) solid 2px; ">SHOP REGISTRATION</h2>
                        <label for="shopName">Shop Name: </label><br>
                        <input type="text" id="shopName" name="shopName" required><br><br>

                        <label for="shopLocation">Location: </label><br>
                        <input type="text" id="shopLocation" name="shopLocation" required><br><br>

                        <label for="ownerName">Owner Name: </label><br>
                        <input type="text" id="ownerName" name="ownerName" required><br><br>

                        <label for="ownerContact">Contact Number: </label><br>
                        <input type="tel" id="ownerContact" name="ownerContact" required><br><br>

                        <label for="shopDescription"> Shop Description</label><br>
                        <textarea id="shopDescription" name="shopDescription" rows="4" required></textarea><br><br>

                        <label for="shopImage">Upload Shop Image: </label><br>
                        <input type="file" id="shopImage" name="shopImage"><br><br>

                        <button type="submit" id="submitBtn" class="buttonclass">Submit</button>
                </form>
            </section>
    
            <!-- use a bottom navigation -->
            <section id="menuManagement" class="sectionclass" style="display:none;">
                <section id="notifications"></section>
                <!-- here you look at the menu -->
                <section id="menuid">
                    <!-- here we'll add the menu items dynamically -->
                    <div id="mymenu" class="formclass">
                        <h2 style="border-bottom: rgb(255, 206, 101) solid 2px; ">MY MENU</h2>
                    </div>
                    <button class="buttonclass">Delete Kota</button>
                    <button class="buttonclass">Edit menu</button>
                </section>

                <!-- here you add a new kota to the menu -->
                <section  id="addnewkota">
                    <form class="formclass">
                        <h2 style="border-bottom: rgb(255, 206, 101) solid 2px; ">ADD A KOTA TO THE MENU</h2>
                        <label>Kota Name: </label><br>
                        <input type="text" id="nameid" title="name" name="name" value=""><br><br>
    
                        <label>Price: </label><br>
                        <input type="number" id="priceid" title="price" name="price" value=""><br><br>
    
                        <label></label>
                        <label for="kotacontent">Choose Kota Ingredients: </label><br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="chips">Chips<br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="cheese">Cheese<br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="russian">Russian<br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="vienna">Vienna<br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="polony">Polony<br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="lettuce">Lettuce<br>
                        <input type="checkbox" id="kotacontent" name="kotacontent" value="cucumber">Cucumber<br><br>
    
                        <label for="kotacontent">Is it toasted: </label> <br>
                        <input type="radio" id="kotacontent" name="kotacontent" value="yes">Yes<br>
                        <input type="radio" id="kotacontent" name="kotacontent" value="no">No<br><br>
    
                        <button type="submit" id="submitBtn" class="buttonclass">Submit</button>
                    </form>
                </section>
            </section>

            <!-- here you mAnage incloming orders -->
             <!-- could have the option to check the history of a customer, if they have a habit of cancelling or not collecting, you tell them to pay first and get kota later -->
            <section id="orderManagement" class="sectionclass" style="display:none;"></section>

            <!-- look at anonymous feedbacks from users for your kota -->
            <section id="feedbackReview" style="display:none;"></section>

            <!-- Chatbot Icon -->
            <div id="chatbot-icon">
                <i class="fas fa-comments"></i>
            </div>

            <!-- Chat Window -->
            <div id="chatbot-window" class="chat-closed" style="display: none;" onclick="chatbox()">
                <div id="chatbot-header">
                    <span id="close-chatbot">&times;</span>
                    <h3>AI Assistant</h3>
                    
                </div>
                <div id="chatbot-body">
                    <div id="chat-output">
                        <p>Welcome to Kasi Kotas, how can I help you?</p>
                    </div>
                    <input type="text" id="chat-input" placeholder="Type a message...">
                    <button id="send-button">Send</button>
                </div>
            </div>
        </main>

        <section class="myfootnav" id="myfootnav">
            <i class="fas fa-bell" style="color: white; cursor: pointer;" onclick="shownotifications()" ><br>Notifications</i>
            <div class="middlefootnav" id="footnavitems">
                <div class="plussign" onclick="addnewkota()">+</div>
            </div>
            <i class="fas fa-right-from-bracket" style="color: white; cursor: pointer;"><br><a href="../index.html" style="text-decoration-line: none; color: white;">Signout</a></i>
        </section>

        <footer>
            <p>&copy; 2025 Kasi Kotas. All Rights Reserved.</p>
        </footer>
    </body>
</html>